body
{
    margin: 0;
    padding: 0;
}
section
{
    width: 100%;
    height: 100%;
    background: #eaffae;
    box-sizing: border-box;
    overflow: hidden;
    position: absolute;

}
.caixa {
    overflow: hidden;
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: #f55757;
    color: #eaffae;
    left: 0 ;
    top: 0;
    border-right: 2px solid #262626;
}

.mensagem {
    position: absolute;
    top: 50%;
    transform:translateY(-50%);
    white-space: nowrap;
    font-size: 12em;
    line-height: 220px;
    overflow: hidden;
    font-family: "arial black";
    animation: animate 20s linear infinite;
}

@keyframes animate
{
    0%
    {
        transform: translate(0, -50%);
    }
    100%
    {
        transform: translate(-50%, -50%);
    }
}
